### Name: Varigonda Sai Nirmal Vignu
### Email: varigondanirmal1@gmail.com

## 1. Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [1]:
Print("Welcome")

NameError: name 'Print' is not defined

##### print() is predefined function in python  and it is case sensitive

In [ ]:
print("Good 
Evening")

###### To print text in multiple lines we use ''' ''' (triple quotes)

In [ ]:
a* = 1

In [ ]:
a%n = 10

##### Variable names should not contain any special characters like ^ % $ ! @ # ^ & * ( )

In [ ]:
10ten = 10

##### Variable names can contain numbers but you can't start with numbers

In [ ]:
"Day " + 1

##### We can't concatenate string and integer

In [ ]:
print=2
print("hi")

In [ ]:
del print

##### we assigned print with integer and we also know that print() is predefined function as we assigned value to print , print() will not work

In [ ]:
a = int(input("Enter value of a "))

##### It's no possible to take float value as input by using int it supports only integer input, to take float as a input we use float()

## 2. Take input A and B and print their sum, mul, div, square of the nos.

In [2]:
A=int(input("Enter value of A "))
B=int(input("Enter value of B "))
#Addition
print(f"A + B = {A+B}")
#Multiplication
print(f"A * B = {A*B}")
#Division
print("A / B =",A/B)
# Square of the nos
print("Square of A =",A**2)
print(f"Square of B = {B**2}")

Enter value of A 20
Enter value of B 10
A + B = 30
A * B = 200
A / B = 2.0
Square of A = 400
Square of B = 100

## 3. How many reserve keywords are there in python and why we should not use them as a variable name.

In [3]:
import keyword
from platform import python_version

In [4]:
print(f"There are total {len(keyword. kwlist)} reserve keywords are there in present working python version {python_version()} and they are:\n {keyword.kwlist}")

There are total 36 reserve keywords are there in present working python version 3.9.12 and they are:
 ['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

#### We cannot use keywords as variable names. It's because keywords have predefined meanings.

### 4. Create email ids with the user inputs. in the following format - lastname.firstname@gmail.com

In [5]:
lastname=input("Enter lastname ")
firstname=input("Enter firstname ")
print(f"Email ID = {lastname}.{firstname}@gmail.com")

Enter lastname varigonda
Enter firstname vignu
Email ID = varigonda.vignu@gmail.com

### 5. Try to print the following lines - 
  - Hi I'm Sunny
  - My address is 22\3 
  - I earn 20$ daily.

In [6]:
print("Hi I'm Sunny")
print("My address is 22\\3")
print("I earn 20$ daily.")

Hi I'm Sunny
My address is 22\3
I earn 20$ daily.

### 6. Take user input (name, address, date of birth etc) to fill a form for your college and print their email IDs

In [7]:
name=input("Enter your name: ")
address=input("Enter your address: ")
date_of_birth=input("Enter your date of birth: ")
email=name.replace(" ",".")+date_of_birth[0:2]+"@gmail.com"
print(f"Your email id is:{email}")

Enter your name: nirmal vignu
Enter your address: Tanuku
Enter your date of birth: 21-03-2001
Your email id is:nirmal.vignu21@gmail.com

### 7. Convert the following - 
  - "22.4" into integer
  - "22" into complex no.

In [9]:
n1="22.4"
print(f"{n1} into integer = {int(n1)}")

ValueError: invalid literal for int() with base 10: '22.4'

##### As we can see 22.4 is a float number we can't directly convert 22.4 to integer so we can convert it by using float() as we want into integer after converting to float value we can use int() to convert as an Integer"

In [10]:

print(f"{n1} into integer = {int(float(n1))}")

22.4 into integer = 22

In [11]:
n2="22"
print(f"{n2} into complex = {complex(n2)}")

22 into complex = (22+0j)